{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="about-header-container">
    <div class="width-h">
        <div class="about-header">
            <h1>О нас</h1>
        </div>


        <div class="about-container">
            <div class="about-h1">Совершенство в каждой детали. Красота в каждой процедуре</div>
            <div class="h2-container">
                <div class="about-h2">Мы - новый салон красоты, горящий желанием превзойти ожидания!
                    Мы предлагаем современные процедуры, стильный сервис и атмосферу, в которой вы почувствуете себя особенной.</div>
            </div>
        </div>

        <div class="container-about">
            <div class="feature-card-container">
                <div class="feature-card">
                    <div class="header3-about">Качество</div>
                    <p>Только премиальная косметика и инновационные технологии.
                        Мы выбираем только лучшую косметику и передовые технологии. Наши сертифицированные мастера постоянно
                        совершенствуют свои навыки, чтобы найти идеальное решение именно для вас.</p>
                </div>

                <div class="feature-card">
                    <div class="header3-about">Наша страсть - ваша красота</div>
                    <p>Мы полны энтузиазма и стремимся преобразить вас, подарив вам уверенность и радость.
                        Каждый визит – это возможность для нас проявить заботу и профессионализм.</p>
                </div>

                <div class="feature-card">
                    <div class="header3-about">Привилегии</div>
                    <p>Бонусная программа, персональные скидки для первых клиентов и специальные дни красоты.
                        Мы ценим ваше доверие и делаем всё, чтобы ваш опыт был незабываемым!</p>
                </div>

                <div class="feature-card">
                    <div class="header3-about">Позвольте нам заботиться о вашей красоте</div>
                    <p>Мы стремимся создать салон, где рождаются долгосрочные отношения, основанные
                        на результате, который превзойдет ваши ожидания. Позвольте нам стать вашим проводником в мир красоты!</p>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}