<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VogueStyle{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <!-- Новая навигационная панель -->
    <nav class="navbar">
        <div class="nav-container">
            <ul class="nav-menu">
                <div class="nav-menu-left">
                    <li class="nav-item"><a href="/request" class="nav-link {% if request.path == '/request' %}active{% endif %}">Запись</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link {% if request.path == '/about' %}active{% endif %}">О нас</a></li>


                </div>

                <!-- Логотип в середине меню -->
                <li class="nav-logo">
                    <a href="/"><img src="https://ania.cleverlive.pro/VogueStyle_application/vogueStyleBeautySalon.jpg" alt="VogueStyle" class="nav-logo-img"></a>
                </li>

                <div class="nav-menu-right">
                    <li class="nav-item"><a href="/masters" class="nav-link {% if request.path == '/masters' %}active{% endif %}">Наши Мастера</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">Салоны</a>
                        <ul class="dropdown-menu">
                            <li><a href="/salons/bm" class="dropdown-item">Большая Морская ул., 67 </a></li>
                            <li><a href="/salons/gasta" class="dropdown-item">ул. Гастелло, 15</a></li>
                            <li><a href="/salons/lensa" class="dropdown-item">ул. Ленсовета, 14</a></li>
                        </ul>
                    </li>

                    {% if site_version == 'master' %}
                        <li class="nav-item"><a href="/master/personal_account_master" class="nav-link {% if request.path == '/master/personal_account_master' %}active{% endif %}">ЛК</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>

    <!-- Блок для основного содержимого -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-column left-column">
            <div class="column-section">
                <h3 class="footer-title">Студии</h3>
                <div class="footer-addresses">
                    <p>Большая Морская ул., 67</p>
                    <p>ул. Гастелло, 15</p>
                    <p>ул. Ленсовета, 14</p>
                </div>
            </div>

            <div class="column-section">
                <h3 class="footer-title">Запись на услуги</h3>
                <div class="footer-contacts">
                    <p>Телефон:  +7 943 255 755</p>
                    <p>(ссылка на тг бота)</p>
                    <p>Email:  voguestyle@yandex.ru</p>
                </div>
            </div>

            <div class="column-section">
                <h3 class="footer-title">Плановая конфиденциальность</h3>
                <li>© 2025 - настоящее время / г. Санкт-Петербург </li>
                <p class="footer-note">Все права защищены от владения гражданами или его лицами.</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="footer-column right-column">
            <div class="column-section">
                <h3 class="footer-title">Установите приложение VogueStyle</h3>
                <div class="footer-apps">
                    <p>Download from ref.</p>
                    <p class="footer-highlight">(Ссылка на приложение)</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--<div class="footer">-->
<!--    <div class="footer-container">-->
<!--        <p>&copy; {{ current_year }} VogueStyle 💜 All rights reserved. GUAP</p>-->
<!--        <div class="version-switcher">-->
<!--            Версия:-->
<!--            <a href="/master/" {% if site_version == 'master' %}class="active"{% endif %}>Мастер</a> |-->
<!--            <a href="/client/" {% if site_version == 'client' %}class="active"{% endif %}>Клиент</a>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>