<!-- delegate.html -->
<div class="service-card">
    <h3 class="service-name">{{ service.name }}</h3>
    <p class="service-price">Цена: {{ service.price }} ₽</p>
    <button class="book-button"
            onclick="showPopUpForRequest()">
<!--            onclick="bookService('{{ service.name }}', {{ service.price }})">-->
        Записаться
    </button>

</div>

<dialog id="pop-up">
    Привет, я поп-ап!
</dialog>

<script>
    function showPopUpForRequest(){
        const popUpElement = document.getElementById("pop-up");
        popUpElement.show();
    }
</script>