<div class="master-card">
    <div class="master-photo">
        {% if master.photo %}
            <img src="https://ania.cleverlive.pro/VogueStyle_MastersPhoto/{{ master.photo }}" alt="Фото {{ master.name }}" class="master-photo-img">
        {% else %}
            <div class="no-photo">Фото не загружено</div>
        {% endif %}
    </div>
    <div class="master-info">
        <p class="master-name">{{ master.name }}</p>
        <p class="master-specialization">{{ master.specialization }}</p>
    </div>
</div>