{% extends "base.html" %}

{% block title %}Салон на ул. Гастелло, 15{% endblock %}

{% block content %}
<div class="about-header-container">
    <div class="width-h">
        <div class="about-header">
            <h1>Наши салоны</h1>
        </div>

        <div class="salon-width-h">
            <div class="salon-body">
                <div class="salon-container">
                    <div class="salon-h3">Санкт-Петербург</div>
                    <div class="salon-h1">ул. Гастелло, 15</div>

                    <div class="salon-info">
                        <div>
                            Режим работы<br>
                            10:00 – 20:00
                        </div>
                        <div>
                            м. Московская<br>
                            +7 123 456-78-90
                        </div>
                        <div>
                            <span><a href="..." style="online-booking">Онлайн-запись</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-wrapper">
                <button class="carousel-arrow prev-btn">❮</button>

                <div class="carousel-container">
                    <div class="carousel">
                         <div class="carousel-item">
                                <img src="https://ania.cleverlive.pro/VogueStyle_interior/Gastelo/entrance_group.png" class="photo-placeholder">
                            </div>
                            <div class="carousel-item">
                                <img src="https://ania.cleverlive.pro/VogueStyle_interior/Gastelo/hall.png" class="photo-placeholder">
                            </div>
                            <div class="carousel-item">
                                <img src="https://ania.cleverlive.pro/VogueStyle_interior/Gastelo/VIP_lounge.png" class="photo-placeholder">
                            </div>
                            <div class="carousel-item">
                                <img src="https://ania.cleverlive.pro/VogueStyle_interior/Gastelo/general_room.png" class="photo-placeholder">
                            </div>
                    </div>
                </div>

                <button class="carousel-arrow next-btn">❯</button>
            </div>

            <div class="carousel-indicators">
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}